<div id="turing-machine">
  <div id="setup">
    <h3>Terminals</h3>
    <div *ngFor="let terminal of terminals">
      <span>{{terminal}}, </span>
      <button (click)="removeTerminal(terminal)">remove</button>
    </div>
    <input #terminalInput (keyup.enter)="addTerminal(terminalInput.value); terminalInput.value=''"/>
    <ul></ul>
    <div>
      <button (click)="turingMachine.decreaseTapes()">-</button>
      <h3 style="padding: 10px; display: inline">Tapes: {{turingMachine.numTapes}}</h3>
      <button (click)="turingMachine.increaseTapes()">+</button>
    </div>
    <h3>States:</h3>
    <ul *ngFor="let state of turingMachine.states">
      <div>
        <div class="hasInlineButton" [ngClass]="{'acceptState': state.isAcceptState}">
          <h3>{{state.name}} </h3>
        </div>
        <button (click)="state.toggleAccept()">toggle accept</button>
      </div>
      <div>
        <h4>Rules:</h4>
        <ul *ngFor="let rule of state.rules">
          <div class="ruleList">
            <div class="hasInlineButton" [ngClass]="{'usedrule': rule===turingMachine.rule}">
              {{rule.read}} | {{rule.replace}},  {{rule.move}}
              <span *ngIf="rule.nextState.name != state.name"> -> {{rule.nextState.name}}</span>
            </div>
            <button (click)="state.removeRule(rule)"> x </button>
          </div>
        </ul>
      </div>
      <div> add rule: <button (click)="showFormat = !showFormat">format for rules</button></div>

      <input #ruleInput (keyup.enter)="turingMachine.addRule(state, ruleInput.value); ruleInput.value=''"/>
    </ul>
    <div> add state: </div>
    <input #box (keyup.enter)="turingMachine.addState(box.value); box.value=''"/>
    <div *ngIf="showFormat">add rules with this format (but without commas or spaces). If next state is omitted,
      it will be considered as loop
      <br/>
      {{turingMachine.numTapes}} character<span *ngIf="turingMachine.numTapes > 1">s</span> on tape,
      {{turingMachine.numTapes}} character<span *ngIf="turingMachine.numTapes > 1">s</span> to be replaced,
      which way to move (L,R,S), also {{turingMachine.numTapes}} times. <br/> example: aab_RL -> first tape: read a, replace with b, move Right.
      second tape: read a, replace with _, move Left. use S for stay</div>
  </div>
  <div id="evaluation">
    <div>inputstring:</div>
    <input placeholder="type input string and press enter to evaluate" #inputString (keyup.enter)="turingMachine.evaluate(inputString.value)"/>
    <div>
      <div> state: {{turingMachine.currentState.name}} index: {{turingMachine.inputTape.currentIndex}}</div>
      <div *ngFor="let tape of turingMachine.tapes" style="font-size: 2em;">
        <span style="font-size: 0.5em;"> tape {{turingMachine.tapes.indexOf(tape) + 1}} </span>
        <span *ngFor="let char of tape.evaluationString.split('')">
         {{char}}
      </span>
      </div>
    </div>
    <div>{{turingMachine.finalMessage}}</div>
    <div style="margin-top: 100px; padding: 5px;">
      <p>speed: {{turingMachine.timeoutTime / 1000}} seconds for 1 move </p>
      <button (click)="turingMachine.increaseTime()">slower</button>
      <button (click)="turingMachine.decreaseTime()">faster</button>
    </div>
  </div>
</div>
