#turing-machine {
  width: 100% ;
  float: center;
}
#setup {
  margin: auto;
  position: centre;
}

#taps {
  width: 400px;
  position: centre;
}
beside-right {
  float : right;
  width: 50%;
  position: centre;
}
.beside-left{
  float: left;
  width: 50%;
  position: centre;
}
 .input {
  margin : 10px;
 }

 .is-dark  {
   color : white;
   display: inline-block;
   margin-left: 3px;
 }
 .is-white  {
  display: inline-block;
  margin-left: 3px;
}
.margin {
  margin-top: 15px;
}
@media only screen and (max-width: 667px)  {
.input {
  width: 99%;
}
}
/*#taps {
  margin: auto;
  width: 500px;
  background-color: red;
}*/
/*#setup {
  margin: auto;
  float: left;
  overflow: hidden;
  width: 40%;
}

#evaluation {
  overflow: hidden;
  margin: auto;
}

button {
  display: inline;
  margin: auto;
}
.ruleList {
  padding: 5px;
}
*/