#turing-machine {
  width: 60%;
  margin:auto;
  float: center;
}
#setup {
  margin: auto;
  position: centre;
}

#taps {
  width: 400px;
  position: centre;
}
beside-right {
  float : right;
  width: 50%;
  position: centre;
}
.beside-left{
  float: left;
  width: 50%;
  position: centre;
}
 .input {
  margin : 10px;
 }

 .is-dark  {
   color : white;
   display: inline-block;
   margin-left: 3px;
 }
 .is-white  {
  margin-left: 3px;
}
.margin {
  margin-top: 15px;
}
.tape{
  padding: 10px;
   display: inline;
}
.number_of_tabe {
  font-size: 2em;
}
@media only screen and (max-width: 667px)  {
  #turing-machine {
    width: 97%;
    margin:auto;
    float: center;
  }
  .input {
  width: 80%;
}
.nes-logo {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 27px;
}
.container.with-title > .title {

  font-size: 0.7rem;

}
.btn {

  position: relative;
  display: inline-block;
  padding: 5px 6px;
  margin: 4px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #212529;
  background-color: #fff;
  box-shadow: inset -4px -4px #adafbc;

}
.tape{
  padding: 1em;
  display: inline;
}
.number_of_tabe {
  font-size: 1em;
}
.smaller {
  height:150px;
}
}
.nes-logo {
  position: relative;
  display: inline-block;
  width: 0px;
  height: 27px;
}

.state {
  margin-left:340px;;
}



/*#taps {
  margin: auto;
  width: 500px;
  background-color: red;
}*/
/*#setup {
  margin: auto;
  float: left;
  overflow: hidden;
  width: 40%;
}

#evaluation {
  overflow: hidden;
  margin: auto;
}

button {
  display: inline;
  margin: auto;
}
.ruleList {
  padding: 5px;
}
*/