<div id="turing-machine">
  <div id="setup">
    <h1>Turing Machine</h1>
    <div>
      <button (click)="turingMachine.decreaseTapes()">-</button>
      <h3 style="padding: 10px; display: inline">Tapes: {{turingMachine.numTapes}}</h3>
      <button (click)="turingMachine.increaseTapes()">+</button>
    </div>
    <h3>States:</h3>
    <ul *ngFor="let state of turingMachine.states">
      <app-state [state]="state" [currentRule]="turingMachine.rule"></app-state>
      <input #ruleInput (keyup.enter)="turingMachine.addRule(state, ruleInput.value); ruleInput.value=''" title="newRule"/>
    </ul>
    <div> add state: </div>
    <input #box (keyup.enter)="turingMachine.addState(box.value); box.value=''" title="newState"/>
    <div *ngIf="showFormat">add rules with this format (but without commas or spaces). If next state is omitted,
      it will be considered as loop
      <br/>
      {{turingMachine.numTapes}} character<span *ngIf="turingMachine.numTapes > 1">s</span> on tape,
      {{turingMachine.numTapes}} character<span *ngIf="turingMachine.numTapes > 1">s</span> to be replaced,
      which way to move (L,R,S), also {{turingMachine.numTapes}} times. <br/> example: aab_RL -> first tape: read a, replace with b, move Right.
      second tape: read a, replace with _, move Left. use S for stay</div>
  </div>
  <div id="evaluation">
    <div>input string:</div>
    <input placeholder="press enter to evaluate" #inputString (keyup.enter)="evaluate(inputString.value)"/>
    <div>
      <div> state: {{turingMachine.currentState.name}} index: {{turingMachine.inputTape.currentIndex}}</div>
      <div *ngFor="let tape of turingMachine.tapes" style="font-size: 2em;">
        <span style="font-size: 0.5em;"> tape {{turingMachine.tapes.indexOf(tape) + 1}} </span>
        <span *ngFor="let char of tape.evaluationString.split('')">
         {{char}}
      </span>
      </div>
    </div>
    <div>{{turingMachine.finalMessage}}</div>
    <div style="margin-top: 100px; padding: 5px;">
      <p>speed: {{timeoutTime / 1000}} seconds for 1 move </p>
      <button (click)="increaseTime()">slower</button>
      <button (click)="decreaseTime()">faster</button>
    </div>
  </div>
</div>
