<div class="container is-dark with-title">
  <!--TODO add container with title in line, state name in title-->
  <!--TODO maybe icon for arrow in rules, instead of -> -->
  <div class="title" [ngClass]="{'accept-state': state.isAcceptState}" >
    <h3>{{state.name}} </h3>
  </div>
  <label>
    <!--TODO @ia move this somewhere else-->
  <input type="checkbox" class="checkbox" (change)="state.toggleAccept()">
  <span>accept state</span>
  </label>
</div>
<div>
  <ul *ngFor="let rule of state.rules">
    <div>
      <div [ngClass]="{'used-rule': rule===currentRule}">
        {{rule.read}} | {{rule.replace}},  {{rule.move}}
        <span *ngIf="rule.nextState.name != state.name"> -> {{rule.nextState.name}}</span>
      </div>
      <!--TODO move this button next to the rule-->
      <button class="btn" (click)="state.removeRule(rule)"> x </button>
    </div>
  </ul>
</div>
