.used-rule {
  color: mediumseagreen;
}

.is-dark  {
  color : white;
  display: inline-block;
  margin-left: 3px;
} 

.accept-state h3 {
  color: mediumseagreen;
}

@media only screen and (max-width: 667px)  {

  .is-dark  {
    color : white;
    display: inline-block;
    margin-top: 5px;
  }

}
